@import url("./reset.css");
@import url("utility.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

body {
  background-color: #efefef;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100vw;
  background-color: #efefef;
  padding: 1rem 9rem 1rem 6rem;
}

.search-container {
  position: relative;
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.input {
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid;
  padding: 8px 8px 8px 2.5rem;
  font-size: 1.25rem;
  width: 25rem;
}

.input:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 10px;
}

.main {
  gap: 3rem;
  padding: 8rem 5rem 2rem 20rem;
}

.card {
  width: 20rem;
  height: max-content;
  border-radius: 4px;
  background-color: #f8fafc;
  padding: 8px;
}

.card:hover {
  scale: 1.1;
  transition: scale 0.5s;
}

.shadow {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.card-image-container {
  width: 100%;
  height: 18rem;
  padding-bottom: 4px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: center center;
  border-radius: 4px 4px 4px 4px;
}

.card-image:hover {
  cursor: pointer;
}

.recipe-details {
  padding: 8px;
}

.title {
  font-size: 1.1rem;
}

.ratings {
  display: flex;
  justify-content: space-between;
  color: #71717a;
  padding-top: 8px;
  font-size: 0.875rem;
}

.time {
  font-size: 0.875rem;
  align-self: center;
}

.star-rating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.cuisine-filter {
  width: 18rem;
  position: fixed;
  height: 100%;
  margin-top: 7rem;
  z-index: 1;
  overflow-y: auto;
  padding: 1rem 1rem 8.5rem 1rem;
}

.filter {
  padding: 4px 0;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.cuisine-label {
  font-size: 1.1rem;
}

.info {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.fs-large {
  font-size: 1.5rem;
}

.single-card-main {
  padding: 8rem 4rem 2rem 8rem;
}

.recipe-steps {
  width: 50vw;
  padding: 1rem 4rem 2rem 8rem;
}
