@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: green;
}

body {
  background-color: #27272a;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}

.main-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title {
  color: var(--primary-color);
  font-size: 3rem;
}

.button {
  font-size: 2rem;
  padding: 8px 2rem;
  border-radius: 4px;
  margin-right: 10px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-red {
  background-color: red;
  color: #fff;
}

.input {
  font-size: 2rem;
  border: none;
  border-radius: 4px;
}

.input:focus {
  outline: none;
}
