@import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

:root {
  --primary-color: #334155;
}

.heading {
  background-color: var(--background-color);
  padding: 0.5rem 3rem;
  color: var(--primary-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100vw;
  justify-content: space-between;
}

.search-box-input {
  width: 18rem;
  padding-left: 2rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background-color: transparent;
}

.search-box-input:focus {
  outline: none;
}

.nav-icon {
  font-size: 2rem;
}

.products-page {
  padding: 8rem 3rem 2rem 3rem;
}
.card-vertical {
  width: 16rem;
}

.card-image-container {
  width: 100%;
  height: 240px;
}

.card-image {
  height: 100%;
  object-fit: contain;
}

.star {
  color: orange;
}

.card-price {
  gap: 4px;
}

.price-strike-through,
.discount {
  font-size: 14px;
}

.gap-sm {
  gap: 8px;
}

.main {
  padding-top: 8rem;
}

.heading-2 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.final-price {
  width: 25rem;
  background-color: var(--card-background);
  align-self: flex-start;
}

.justify-space-between {
  justify-content: space-between;
}

.side-bar {
  width: 20rem;
  position: fixed;
}

.product-container {
  margin-left: 21rem;
}

.heading-3 {
  padding: 10px 0;
}

.filter-container {
  padding: 1rem 0;
}

.label {
  font-size: 1.25rem;
}

.radio {
  width: 1.25rem;
  height: 1.25rem;
}
