.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
}

.input {
  font-size: 2rem;
  padding: 10px;
  border: 1px solid black;
}

.input:focus {
  outline: none;
}
