@import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.heading-1 {
  margin-top: 5rem;
}

.form {
  margin-left: 2rem;
  width: 30vw;
}

.input-container {
  padding: 8px 0;
}

.input {
  width: 100%;
  font-size: 1.25rem;
  padding: 8px 4px;
}

.input:focus {
  outline: none;
}

.gutter-small {
  padding: 0.5rem 0;
}

.error {
  border: 2px solid red;
}

.error:focus {
  outline: 2px solid red;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.relative {
  position: relative;
}

.btn {
  top: 2.8rem;
  right: 8px;
}

.button {
  width: 100%;
}

.gap {
  gap: 4px;
}

.ul {
  list-style-type: disc;
  margin-left: 1rem;
}

.list {
  color: red;
}

.error-message,
.empty-field {
  color: red;
}

.container {
  border: none;
  align-items: center;
}
