@import url("./utility.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

:root {
    --background-color: #fafafa;
    --primary-color: #3b82f6;
    --accent-color: #a9a9a9;
}

body {
    background-color: var(--background-color);
    line-height: 1.5;
    letter-spacing: 0.8px;
}

.heading {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 8px 1.5rem;
}

.nav {
    margin-left: auto;
    padding-right: 2rem;
}

.logo {
    display: block;
    color: var(--background-color);
}

.list-non-bullet {
    list-style: none;
    
}

.list {
    display: inline-block;
    padding: 0 10px;
}

.link {
    color: var(--background-color);
}

.container {
    width: 35vw;
    padding-top: 2rem;
    margin-left: 50vw;
    transform: translateX(-50%);
}

.text-area {
    width: 100%;
    padding: 4px 8px 0 8px;
    resize: none;
    background-color: transparent;
    border: 1px solid var(--accent-color);
}

.text-area:focus {
    outline: none;
}

.button {
    background: transparent;
    border: none;
    color: var(--background-color);
}


.add-btn {
    right: 1.25rem;
    bottom: -1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--primary-color);
}

.button:hover {
    cursor: pointer;
    opacity: 0.85;
}

.title {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    font-size: 1rem;
    font-weight: 600;
}

.note {
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.pinned-notes-container{
    padding-bottom: 3rem;
}

.notes-display,
.archive-notes {
    padding: 2rem 4rem;
}

.single-note {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    width: 18vw;
    align-self: flex-start;
    padding: 10px;
}

.single-note span {
    word-break: break-word;
    align-self: flex-start;
}

.single-note-title {
    font-weight: 600;
}


.single-note p {
    word-break: break-word;
}

.del-btn {
    color: var(--primary-color);
    margin-left: auto;
    align-self: flex-start;
}

.single-note:hover > .title-container > .del-btn {
    visibility: visible;
}

.single-note:hover > .options > .btn {
    visibility: visible;
}

.options {
    margin-top: 1rem;
}

.pinned-btn {
    color: var(--primary-color);
}

.pin {
    color: red;
}
